<div id = "homePage" class = "page" style = "position:fixed;height:100%">
  <div class="banner container-fluid" style = "position:fixed;height:100%">
    <div class ="col-md-1">
    </div>
    <div class ="col-md-5 bannerText">
      <h1>Thanks For Checking Us Out!</h1>
      <p class="lead">
        Contact <b>OneStopFantasy</b> at <a href = "#">onestopfantasyassitant@gmail.com</a>
      </p>
    </div>
    <div class ="col-md-2">
      <img class = "bannerBarry" src="images/barry_04.png" alt="I'm Barry!"><br>
    </div>
    <div class ="col-md-3">
      <img class = "bannerBarry" src="images/barry_02.png" alt="I'm Barry!"><br>
    </div>
  </div>
</div>
