<div id = "homePage" class = "page">
  <div class="banner container-fluid">
    <div class ="col-md-1">
    </div>
    <div class ="col-md-5">
      <img class = "bannerBarry" src="images/barry_01.png" alt="I'm Barry"><br>
    </div>
    <div class ="col-md-5 bannerText">
      <h1><b>OneStopFantasy</b></h1>
      <h1>Solutions</h1>
      <p class="lead">
        Helping you make more confident decisions.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="/onestopfantasy/{{getBeginPath()}}">Begin Now</a></p>
    </div>
    <div class ="col-md-1">
    </div>
  </div>
  <div class="container">
    <div class="row marketing">
      <h2>Welcome to OneStopFantasy</h2>
      <p>
        Fantasy basketball players do not always make the most confident decisions for the team they are managing. So, we've developed a web solution to increase the confidence of Yahoo Head-Head Fantasy Basketball players in add and drop decisions.
      </p>

      <h4>Project Description</h4>
      <p>
        Fantasy sports have developed into an ever growing entertainment online, where an increasing number of players join to play their favorite sports virtually. Players invest both time and money into fantasy sports leagues, where they manage their own virtual team based on real athletes’ statistics. Players have several decisions to make, including adding and dropping athletes. One Stop Fantasy Assistant is a personalized solution for Yahoo Fantasy Basketball players that focuses on add & drop decisions. This application outputs a ranked list of athletes from which players can add or drop to improve their fantasy team each week. This application focuses on your long term and short term goals when facing off against your opponent.
      </p>
    </div>
  </div>
  
</div>
